@charset "utf-8";
@import '../node_modules/bulma/sass';

:root {
  --accent-color: palegreen;
  --header-color: green;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: seagreen;
    --header-color: seagreen;
  }
}

footer {
  background-color: var(--bulma-scheme-main);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hero {
  justify-content: start;
}

.hero-body {
  padding: 1.5rem 1.5rem 3rem;
}

.has-text-dark {
  color: var(--bulma-body-color) !important;
}

.pagination-link.is-current {
  background-color: var(--accent-color);
  border-color: hsl(0deg, 0%, 86%);
  color: var(--bulma-body-color);
}

.tabs.is-boxed a:hover {
  background-color: var(--accent-color);
}

.tabs.is-boxed li.is-active a {
  background-color: var(--accent-color);
}

.tabs li.is-active a {
  color: var(--bulma-body-color);
}

.content {
  line-height: 2;
  margin-bottom: 2rem;

  p:not(:last-child),
  dl:not(:last-child),
  ol:not(:last-child),
  ul:not(:last-child),
  blockquote:not(:last-child),
  pre:not(:last-child),
  table:not(:last-child) {
    margin-bottom: 2rem;
  }

  p:not(:first-child) {
    margin-top: 1.1428em;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h1:not(:first-child) {
    margin-top: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-left: solid 5px var(--header-color);
    border-bottom: solid 1px var(--header-color);
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
}
