@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.hero {
  justify-content: start;
}

.hero-body {
  padding: 1.5rem 1.5rem 3rem;
}

.has-text-dark {
  color: #4a4a4a !important;
}

.tabs.is-boxed a:hover {
  background-color: palegreen;
}

.tabs.is-boxed li.is-active a {
  background-color: palegreen;
}

.tabs li.is-active a {
  color: #4a4a4a;
}

.content {
  line-height: 2.0;
  margin-bottom: 2rem;

  p:not(:last-child), dl:not(:last-child), ol:not(:last-child), ul:not(:last-child), blockquote:not(:last-child), pre:not(:last-child), table:not(:last-child) {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
    padding: 0.5rem;
    border-left: solid 5px green;
    border-bottom: solid 1px green;
  }

  h3 {
    font-size: 1.1rem;
  }
}
